Source: ocaml-ucslib
Section: ocaml
Priority: optional
Maintainer: Pippijn van Steenhoven <pip88nl@gmail.com>
Uploaders: 
  Pippijn van Steenhoven <pip88nl@gmail.com>
Build-Depends:
  debhelper (>= 8.0.0),
  obuild,
  dh-ocaml,
  ocaml-nox (>= 3.12),
  ocaml-findlib,
  libbaselib-ocaml-dev,
  libsexplib-camlp4-dev
Standards-Version: 3.9.2
Homepage: https://github.com/pippijn/ucslib
Vcs-Git: git://github.com/pippijn/ucslib
Vcs-Browser: https://github.com/pippijn/ucslib

Package: libucslib-ocaml-dev
Architecture: any
Depends: ${ocaml:Depends}, ${misc:Depends}
Provides: ${ocaml:Provides}
Recommends: ocaml-findlib
Description: Unicode Library
 Stuff.

Package: libucslib-ocaml
Architecture: any
Depends: ${ocaml:Depends}, ${misc:Depends}, ${shlibs:Depends}
Provides: ${ocaml:Provides}
Description: Unicode Library
 Stuff.
 .
 This package contains the shared runtime libraries.
